<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h2><a th:href="@{/}">Back to list</a></h2>
</th:block>
<form th:action="@{/save}" th:object="${blog}" method="post">
    <br>
    <input placeholder="title" type="text" th:field="*{name}"><br>
    <br>
    <textarea placeholder="content...." style="width:300px;height: 100px" th:field="*{context}"></textarea><br>
    <th></th>
    <input type="submit" value="Save">
</form>
</body>
</html>