<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<a href="/category/create/">Create new category</a>
<h1>Category list</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="category : ${categories}">
        <tr>
            <td><a th:href="@{/category/view/__${category.id}__}" th:text="${category.name}"></a></td>
            <td><a th:href="@{/category/update/__${category.id}__ }">Edit</a></td>
            <td><a th:href="@{/category/delete/__${category.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>